header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.title__container{
  margin: 2rem 4rem;
  padding: 1rem 3rem;
  color: #112033;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.title__container h1{
  text-transform: uppercase;
  font-weight: 900;
}
.todolist{
  display: flex;
  padding: 4rem;
  min-height: fit-content;
}
.addTask{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.addTask .taskForm{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  width: 70%;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.addTask .taskForm input{
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #F5F5F5;
}
.addTask .taskForm button{
  padding: 1.5rem;
  background: #FF9900;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-width: 80%;
  max-width: 80%;
  padding: 1rem;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

  transition: .3s ease-in-out;
}
.task__text{
  font-size: 1rem;
  color: #112033;
  opacity: 0.8;
}
.task .task__action {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: stroke .3s ease-in-out;
}
.task__action.delete path{
  stroke: #b52727;
}
.task__action.check path{
  stroke: #72d145;
}
.task__action.check{
  margin-right: 1rem;
}
.task.ischecked{
  background-color: #f4f5f6;
}
.task.ischecked .task__text.label{
  color: #c6cbd2;
}
.task.ischecked path{
  stroke: #d9dcdf;
}
.task.ischecked .task__action.delete path{
  stroke: #ddd4d4;
}

@media screen and (max-width: 900px) {
  .title__container{
    margin: 2rem;
  }
  .todolist{
    flex-direction: column;
    padding: 0 2rem;
  }
  .addTask .taskForm{
    width: 100%;
  }
  .list{
    margin-top: 2rem;
  }
  .task{
    min-width: calc(100% - 2rem);
  }
  .addTask .taskForm button{
    padding: 0.5rem;
  }
}
